/*
Colors used:
Background Color (Cream): #F5F3F5;
Primary Color (Dark Blue): #0D1321;
Secondary Color (White): #FFFFFF
Tertiary Color (Red): #D7263D
*/


html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #0D1321;
  padding: 10px 0 4px;
  border-bottom: 1px solid #ddd;
  position: fixed;
  width: 100%;
  top: 0;
}


nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #D7263D;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

nav > ul > li > a {
  padding-right: 0; 
  text-transform: uppercase;
  font-weight: 700;
  color: #F5F3F5;
}

nav > ul > li > a:visited {
  color:#F5F3F5;
}

nav > ul > li > a:hover {
color: #D7263D;
}

nav > ul > li > a:focus{
  color: #D7263D;
}

nav > ul > li > a:active {
  color: #D7263D;
}

.logo {
  max-width: 150px;
}

#hero {
  background-color: #0D1321;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center; /* Centers text */
  color: #F5F3F5;
}

#hero p {
  text-align: center;
  color: #F5F3F5;
}

#hero span {
  display: block;
  font-size: 70%;
  margin-top: 1em;
}

body {
    background-color: #F5F3F5;
    font-family: 'Poppins', sans-serif;
    font-size: 1em; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #0D1321;
  }

  main {
    font-size: 1em;
    padding-block-start: 157.8px;
    padding-block-start: 113.2px;
    padding-top: 65.36px;
  }  
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
    margin-top: 0;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

  img {
    width: 100%;
  }

  .poppins-title{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 40px;
  }

  .poppins-alphabet{
    font-family: 'Poppins';
  }

  .rubik-parapgraph{
    font-family: 'Rubik';
  }
  
  .rubik-title-1{
    font-family: 'Rubik';
    font-size: 40px;
    font-weight: medium;
  }
  
  .rubik-title-2{
    font-family: 'Rubik';
    font-size: 30px;
    font-weight: bolder;
  }

  .rubik-title-3{
    font-family: 'Rubik';
    font-size: 28px;
    font-weight: medium;
  }

  .rubik-title-4{
    font-family: 'Rubik';
    font-size: 26px;
    font-weight: medium;
  }

  .rubik-title-5{
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: medium;
  }

  .inter-alphabet{
    font-family: 'Inter';
  }

  .inter-title{
    font-family: 'Inter';
    font-size: 25px;
  }

  .anton-alphabet{
    font-family: 'Anton';
  }

  .anton-title{
    font-family: 'Anton';
    font-size: 25px;
  }

  .manrope-alphabet{
    font-family: 'Manrope';
  }

  .manrope-title{
    font-family: 'Manrope';
    font-size: 25px;
  }

  .about-picture {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  @keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
  }

  .sun {
    animation: 4s color-change infinite alternate linear;
  }

  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }

  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }

  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }

  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }

  a {
    color: #D7263D;
    text-decoration: none; /* No underlining */
  }
  
  a:visited { /* visited link */
    color: #D7263D;
  }

  a:hover
  a:focus {
    color: #cc6540;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
    
  a:active { /* selected link */
    color: #861827;
  }

  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: transparent;
    color: #D7263D;
    border: 2px solid #D7263D; /* needed to override the default link color */
    font-weight: 400;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    transition: 0.2s opacity;
  }


  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
    background-color: #D7263D;
    color: #F5F3F5;
  }

  .button.contact {
    color: #D7263D;
    text-transform: uppercase;
    border: 2px solid #D7263D;
  }

  .button.contact:hover {
    background-color: #D7263D;
    color: #ffffff;
  }

  /* Layout styling */

  .container {
    padding: 0 15px;
  }

  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }

  
  footer{
  background-color: #0D1321;
  text-align: center;
  padding: 10px 0;
  color: #F5F3F5;
  }
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .logo {
    max-width: 250px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul > li {
    display: inline-block;
    margin-right: 30px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    font-size: 18px;
  }

  .menu {
    display: block;
    width: 400px;
    float: right;
  }

  .col-md-4 {
    width: 40%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 50%;
  }

  .project-card {
    display:flex;
    gap: 2em;
  }

  .project-card-media-wrapper {
    display: flex;
  }

  .project-card-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-block: 2em;
    justify-content: center;
  }
  
  .project-img {
    height: 100%;
    padding-bottom: 1em;
    object-fit: cover;
  }

  .about-wrapper {
    display: flex;
    gap: 2em;
  }

  .about-img{
    height: 100%;
    object-fit: cover;
    object-position: 20%;
  }

  .my-role{
    column-count: 3;
  }

  .skills-and-tools {
    column-count: 2;
  }

  #skills-tools h3 { margin-top: 0;}

  #my-story h2 { margin-top: 0;}


}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-lg-6 {
    width: 60%;
  }

  .col-lg-4 {
    width: 40%;
  }

  .col-lg-5 {
    width: 50%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #skills-tools h3 { margin-top: 0;}

  #my-story h2 { margin-top: 0;}

}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}