/*
Colors used:
Background Color (Cream): #F5F3F5;
Primary Color (Dark Blue): #0D1321;
Secondary Color (White): #FFFFFF
Tertiary Color (Red): #D7263D
*/

body {
    background-color: #F5F3F5;
    font-family: 'Poppins', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #0D1321;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

  img {
    width: 100%;
  }

  a {
    color: #D7263D;
    text-decoration: none; /* No underlining */
  }
  
  a:visited { /* visited link */
    color: #D7263D;
  }

  a:hover
  a:focus {
    color: #cc6540;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
    
  a:active { /* selected link */
    color: #861827;
  }

  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: transparent;
    color: #D7263D;
    border: 2px solid #D7263D; /* needed to override the default link color */
    font-weight: 400;
    padding: 5px;
    border-radius: 3px;
    transition: 0.2s opacity;
  }

  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }

  .button.contact {
    background-color: transparent;
    color: #D7263D;
    text-transform: uppercase;
    border: 2px solid #D7263D;
  }

  .button.contact:hover {
    background-color: #D7263D;
    color: #ffffff;
  }